input::placeholder {
    text-transform: capitalize;
}

::-webkit-input-placeholder {
    text-transform: capitalize;
}

[data-bs-theme="dark"] .modal-backdrop.show {
    opacity: 0.6;
}

.ts-dropdown-content .option:hover,
.ts-dropdown-content .option.active {
    background-color: #174979;
}

[data-bs-theme="light"] .ts-dropdown-content .option:hover,
[data-bs-theme="light"] .ts-dropdown-content .option.active {
    color: #fff;
}

.form-control.is-invalid {
    background-image: none;
}

.form-select.is-invalid {
    background-image: none;
}

.ts-wrapper.is-invalid.single {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23929dab' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;
}

.btn-close:focus {
    box-shadow: none;
}

@media (max-width: 575.98px) {
    .btn-sm-custom {
        padding: 0.25rem 0.5rem;
    }
}

.table-fixed {
    table-layout: fixed;
    width: 100%;
}

.spinner-custom {
    width: 20px;
    height: 20px;
}

#rowNotification {
    max-height: 300px;
    overflow-y: auto;
    padding-left: 8px;
    padding-right: 5px;

    scrollbar-width: none; /* Untuk Firefox */
}

#rowNotification::-webkit-scrollbar {
    display: none;
}

#rowNotification {
    user-select: text;
    pointer-events: auto;
}

canvas {
    display: block;
    max-width: 100%;
}
